In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
data = pd.read_csv('imdb_top_250.csv')

In [9]:
data.head()

,name,year,director,actors,rating,no_of_votes,imdb_link
0,The Shawshank Redemption,1994,Frank Darabont,"Tim Robbins, Morgan Freeman",9.2,1710495.0,/title/tt0111161/
1,The Godfather,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino",9.2,1169281.0,/title/tt0068646/
2,The Godfather: Part II,1974,Francis Ford Coppola,"Al Pacino, Robert De Niro",9.0,800914.0,/title/tt0071562/
3,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger",8.9,1697321.0,/title/tt0468569/
4,12 Angry Men,1957,Sidney Lumet,"Henry Fonda, Lee J. Cobb",8.9,454688.0,/title/tt0050083/

In [10]:
data[data.rating > 8.9]

,name,year,director,actors,rating,no_of_votes,imdb_link
0,The Shawshank Redemption,1994,Frank Darabont,"Tim Robbins, Morgan Freeman",9.2,1710495.0,/title/tt0111161/
1,The Godfather,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino",9.2,1169281.0,/title/tt0068646/
2,The Godfather: Part II,1974,Francis Ford Coppola,"Al Pacino, Robert De Niro",9.0,800914.0,/title/tt0071562/

The pandas `describe` function provides some basic statistics for all numerical columns

In [23]:
data[['year', 'rating', 'no_of_votes']].describe()

              year      rating   no_of_votes
count   250.000000  250.000000  2.500000e+02
mean   1984.148000    8.256400  4.111479e+05
std      24.323912    0.239098  3.382888e+05
min    1921.000000    8.000000  2.595200e+04
25%    1964.250000    8.100000  1.215070e+05
50%    1991.000000    8.200000  3.295665e+05
75%    2004.000000    8.400000  6.053025e+05
max    2016.000000    9.200000  1.710495e+06

Let's try to get the avg rating for each director

In [11]:
group = data.groupby?

In [16]:
group = data.groupby(by=data.director)

In [29]:
#group.mean()['rating']

In [28]:
plt.hist(data.year, bins=np.arange(1950, 2013), color='#cccccc')

(array([  3.,   1.,   2.,   3.,   4.,   1.,   0.,   7.,   2.,   4.,   2.,
          2.,   2.,   2.,   2.,   1.,   3.,   1.,   2.,   1.,   0.,   1.,
          1.,   1.,   2.,   5.,   4.,   2.,   1.,   4.,   4.,   2.,   4.,
          2.,   4.,   3.,   4.,   2.,   4.,   1.,   1.,   3.,   2.,   4.,
          5.,   9.,   2.,   5.,   5.,   5.,   5.,   7.,   5.,   6.,   5.,
          3.,   4.,   4.,   4.,   6.,   6.,  11.]),
 array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
        1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
        1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
        1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
        1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
        2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]),
 <a list of 62 Patch objects>)

In [37]:
data[data.rating == data.rating.min()][['name', 'year', 'rating',]]

                                                  name  year  rating
202                                            Stalker  1979     8.0
203                                         Annie Hall  1977     8.0
204                                     Salinui chueok  2003     8.0
205                                     Before Sunrise  1995     8.0
206                                    The Truman Show  1998     8.0
207                               The Bourne Ultimatum  2007     8.0
208                                             Gandhi  1982     8.0
209                                    Les diaboliques  1955     8.0
210                                              Rocky  1976     8.0
211                                       Donnie Darko  2001     8.0
212                                                 8½  1963     8.0
213       Harry Potter and the Deathly Hallows: Part 2  2011     8.0
214                                     Monsters, Inc.  2001     8.0
215                                   The Wizard of Oz  1939     8.0
216                                     The Terminator  1984     8.0
217                                     Twelve Monkeys  1995     8.0
218                                      Groundhog Day  1993     8.0
219                        The Best Years of Our Lives  1946     8.0
220                                               Jaws  1975     8.0
221                                       Mou gaan dou  2002     8.0
222                                          Prisoners  2013     8.0
223                               Strangers on a Train  1951     8.0
224                                       Barry Lyndon  1975     8.0
225                                           La haine  1995     8.0
226                                    Song of the Sea  2014     8.0
227                                           Sin City  2005     8.0
228                           Kind Hearts and Coronets  1949     8.0
229                                Catch Me If You Can  2002     8.0
230                                           Deadpool  2016     8.0
231                                       The Revenant  2015     8.0
232                             La battaglia di Algeri  1966     8.0
233                                  Dog Day Afternoon  1975     8.0
234                                            Yip Man  2008     8.0
235  Pirates of the Caribbean: The Curse of the Bla...  2003     8.0
236                                           The Help  2011     8.0
237                                 The Imitation Game  2014     8.0
238                                        The Martian  2015     8.0
239                                 Gangs of Wasseypur  2012     8.0
240                                      Roman Holiday  1953     8.0
241                             Tenkû no shiro Rapyuta  1986     8.0
242                                Fanny och Alexander  1982     8.0
243                            Per un pugno di dollari  1964     8.0
244                            Guardians of the Galaxy  2014     8.0
245                                  The King's Speech  2010     8.0
246                                       The Avengers  2012     8.0
247                  Lagaan: Once Upon a Time in India  2001     8.0
248                                            Kahaani  2012     8.0
249                               Beauty and the Beast  1991     8.0

In [40]:
decade = (data.year //10 ) * 10
data['decade'] = decade
data.head()

,name,year,director,actors,rating,no_of_votes,imdb_link,decade
0,The Shawshank Redemption,1994,Frank Darabont,"Tim Robbins, Morgan Freeman",9.2,1710495.0,/title/tt0111161/,1990
1,The Godfather,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino",9.2,1169281.0,/title/tt0068646/,1970
2,The Godfather: Part II,1974,Francis Ford Coppola,"Al Pacino, Robert De Niro",9.0,800914.0,/title/tt0071562/,1970
3,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger",8.9,1697321.0,/title/tt0468569/,2000
4,12 Angry Men,1957,Sidney Lumet,"Henry Fonda, Lee J. Cobb",8.9,454688.0,/title/tt0050083/,1950

Let's try grouping the movies based on the decade and see the average rating for each decade

In [41]:
decade_group = data.groupby(decade)

In [42]:
rating_decade = decade_group.rating.mean()
print rating_decade

year
1920    8.216667
1930    8.242857
1940    8.246154
1950    8.237037
1960    8.261111
1970    8.295238
1980    8.243333
1990    8.368293
2000    8.255102
2010    8.150000
Name: rating, dtype: float64